#output_status_container {
	padding: 5px;
	white-space: pre;
	height: 200px;
}

.modules {
	width: 150px;
	padding: 0;
}

#installed-modules, #remote-modules {
	vertical-align: top;
}

td#container-description {
	width: 500px;

	vertical-align: top;
}

#pkg-desc, #pkg-url {
	padding: 5px;
}

#pkg-url {
	margin-top: 10px;
	border: 0 none;
}
