#reset_filter {
	display: none;
}

.ui-active-filters li {
	background-repeat: no-repeat;
	line-height: 16px;
	display: inline-block;
	margin: 0.5em 1em 0.5em 0;
	cursor: pointer;
	color: #666;
}

.ui-active-filters li:hover {
	color: #000;
}

.filter-domain:after {
	content: " (domain)";
	font-size: smaller;
	color: #999;

}

.filter-owner:after {
	content: " (owner)";
	font-size: smaller;
	color: #999;

}

.filter-path:after {
	content: " (path)";
	font-size: smaller;
	color: #999;
}

#inactive-domains .list-group-item {
	width: auto;
	display: inline-block;
}

.domain-meta:last-of-type + hr {
	display: none;
}

#clone_domain_row {
	display: none;
}

#ui-app .domain-meta input.form-control, #ui-app .domain-meta .owner .form-control {
	display: none;
}

#ui-app .domain-meta > :not(.owner) input.form-control,
	#ui-app .domain-meta > .owner .form-control:last-child
{
	display: flex;
}

