.app-meta h5 {
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 0;
}

#help-topics p {
	display: none;
}

.hostname .domain {
	font-weight: 700;
}

.version.update {

}

.version.current {

}

.version {

}

.meta-inline {
	min-width: 2.35em;
}

.app-container {
	margin-left: 1px;
	margin-top: 1px;
}


.app-container .card {
	margin-left: -1px;
	margin-top: -1px;
}

.app-container .card.selected {
	background: #f6f6f8;
	border-color: #aaa;
	z-index: 1;
}

.ui-app .btn-group button.btn {
	margin-bottom: 0;
}

.filter-hostname:after {
	content: " (Domain)";
}

.filter-type:after {
	content: " (App Type)";
}

.filter-docroot:after {
	content: " (Document Root)";
}

/**
 * Comparators
 */
.ui-filter-spec:before {
	font-style: italic;
}

.filter-comp-contains:before {
	content: "contains ";
}

.filter-comp-notcontains:before {
	content: "not contain ";
}

.filter-comp-is:before {
	content: "is ";
}

.filter-comp-isnot:before {
	content: "is not ";
}

.app-icon {
	min-height: 1em;
	min-width: 1em;
}

.app-icon > div {
	display: inline-flex;
}


.app-icon svg {
	max-height: 64px;
}

.app-icon-lg svg {
	max-height: 96px;
	max-width: 120px;
}

.app-icon-sm svg, .header-actions {
	height: 32px;
}

.app-meta .ui-webapp-panel .screenshot .inner, .app-meta .ui-webapp-panel .screenshot .outer {
	min-height: 128px !important;
}

#options label:last-of-type {
	margin-bottom: 0 !important;
}

.snapshot-date {
	position: relative;
	top: -8px;
}

#backup-list + .note {
	display: block;
}

#backup-list li ~ .note {
	display: none;
}

#appGrid svg {
	height: auto;
	max-height: 48px;
	width: 64px;
}