td#task_switcher {
	padding: 5px;
	background: #ffffcc;
}

.task-switcher {
	font-weight: normal;
}

.fallthrough-indicator {
	padding-right: 0.75em;
}

/** filter */

#reset_filter {
	margin-left: 10px;
	display: none;
}

.ui-active-filters li {
	background-repeat: no-repeat;
	line-height: 16px;
	display: inline-block;
	margin: 0.5em 1em 0.5em 0;
	cursor: pointer;
	color: #666;
}

.ui-active-filters li:hover {
	color: #000;
}

.ui-active-filter li:after {
	font-size: smaller;
	color: #999;
}

.filter-subdomain:after {
	content: " (subdomain)";
}

.filter-subdomain_fs:after {
	content: " (docroot)";
}

/** end filter */

.subdomain_fs:empty:after {
	content: "unknown path";
}

#toolbar {
	position: relative;
}

#subdomains td {
	vertical-align: middle;
}