#######################################################################################################
# ooooo      ooo   .oooooo.        ooooooooooooo   .oooooo.   ooooo     ooo   .oooooo.   ooooo   ooooo
# `888b.     `8'  d8P'  `Y8b       8'   888   `8  d8P'  `Y8b  `888'     `8'  d8P'  `Y8b  `888'   `888'
#  8 `88b.    8  888      888           888      888      888  888       8  888           888     888
#  8   `88b.  8  888      888           888      888      888  888       8  888           888ooooo888
#  8     `88b.8  888      888           888      888      888  888       8  888           888     888
#  8       `888  `88b    d88'           888      `88b    d88'  `88.    .8'  `88b    ooo   888     888
#  o8o        `8   `Y8bood8P'           o888o      `Y8bood8P'     `YbodP'     `Y8bood8P'  o888o   o888o
#######################################################################################################
# fail2ban-firewalld, required by fail2ban, sets ban action
# to firewallcmd-ipset
[DEFAULT]
banaction={{ f2b_default_banaction }}
backend={{ f2b_default_backend }}
banaction_allports={{ f2b_default_banaction_allports }}
protocol=tcp
