# Templated from /usr/local/apnscp/resources/templates/apache/php/fpm-socket-service.blade.php
[Unit]
Description=PHP-FPM pool activation {{ fpm_service_name }}
BindsTo=php-fpm.service
PropagatesReloadTo=php-fpm-{{ fpm_service_name }}.service
{% if ansible_distribution_major_version == '7' %}
DefaultDependencies=no
Requires=sysinit.target
{% endif %}

[Socket]
ListenStream=/run/php-fpm/{{ fpm_service_name }}.socket
RuntimeDirectory=php-fpm
SocketUser=apache
SocketGroup=apache
SocketMode=0660
RemoveOnStop=yes
DirectoryMode=1111

[Install]
WantedBy=php-fpm.service
