[Unit]
Description=PHP worker for {{ fpm_service_name }}
After=mariadb.service postgresql.service
After=network.target php-fpm-{{ fpm_service_name }}.socket
PartOf=php-fpm-{{ fpm_service_name }}.socket
Requires=php-fpm-{{ fpm_service_name }}.socket
{% if ansible_distribution_major_version == '7' %}
DefaultDependencies=no
Requires=sysinit.target
{% endif %}

[Service]
User=apache
Group=apache
PermissionsStartOnly=true
Environment="FPM_SOCKETS=/run/php-fpm/{{ fpm_service_name }}.socket=3"
ExecStart=/usr/sbin/php-fpm --nodaemonize --fpm-config=/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

Type=notify
WatchdogSec=30s
Restart=on-failure
StartLimitInterval=15s
StartLimitBurst=3
StartLimitAction=none
KillMode=control-group
TimeoutStopSec=30s

# Jail all requests to account root
# Allow ExecStartPre= access outside as root if needed
RootDirectoryStartOnly=yes
# postdrop needed for usage of sendmail. Enabling PrivateDevices or RestrictAddressFamilies
# enforces NoNewPrivileges=yes
SupplementaryGroups=48 {% if (ansible_distribution_major_version != '7') %} postdrop {% endif %}

# Required for dropping privileges and running as a different user
# CAP_SETGID is used by postdrop to send mail
CapabilityBoundingSet=CAP_SETUID CAP_SETGID

# Set up a new file system namespace and mounts private /tmp and /var/tmp directories
# so this service cannot access the global directories and other processes cannot
# access this service's directories.
PrivateTmp=true

# Sets up a new /dev namespace for the executed processes and only adds API pseudo devices
# such as /dev/null, /dev/zero or /dev/random (as well as the pseudo TTY subsystem) to it,
# but no physical devices such as /dev/sda.
PrivateDevices=true

# Mounts the /usr, /boot, and /etc directories read-only for processes invoked by this unit.
ProtectSystem=true
# Needs work on higher volume servers, umount2() called on all bind mounts
ProtectHome=true
# For SQMail and the like
ReadWriteDirectories=/var/lib
ReadOnlyDirectories=/usr/share/pear

# Allow setgid/setuid syscall for postdrop mail usage
NoNewPrivileges={% if (ansible_distribution_major_version != '7') %} yes {% else %} no {% endif %}

# Restricts the set of socket address families accessible to the processes of this unit.
# Protects against vulnerabilities such as CVE-2016-8655
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX {% if (ansible_distribution_major_version != '7') %} AF_NETLINK {% endif %}

# Stopgap to limit runaway scripts, logs, or whatever
LimitFSIZE=4G
OOMScoreAdjust=500

[Install]
# Socket activation
