#vacation_info {
	padding: 5px;
	text-align: center;

}
#vacation-toggle + .custom-control-indicator {
	margin-top: auto;
	margin-bottom: auto;
	top: 1px;
}

#label-vacation_msg {
	font-weight: bold;
}

dt {
	font-weight: bold;
}

#ui-help dt {
	padding: 3px 10px 3px 0;
	width: 20px;
	clear: left;
	float: left;
	font-weight: bold;
	margin-right: 0.5em;
}

#ui-help dd {
	padding: 3px 10px 3px 0;
	font-weight: normal;
}

#ui-help dt, #ui-help dd {
	display: block;
	float: left;
}

.vacation-sample {
	font-size: 1rem !important;
}